.landingpage {
  background-color: rgb(226, 40, 40);
  min-height: 800px;
}

.forms {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;

}

.forms input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.landingpage h1 {
  font-family: 'Mountains of Christmas', serif;
  font-size: 80px;
  color: aliceblue;
  text-align: center;
}

.forms button {
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(226, 40, 40);
  color: white;
}
.Login button:hover {
  background-color: rgb(180, 238, 171);
}

.forms p {
  text-align: center;
}

.forms p a:hover {
  color: rgb(205, 48, 48);
}

.Login {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.signUp{
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;

}