/* Main CSS file */
* {
  font-family: 'Poiret One', serif;
}
.landingpage {
  background-color: rgb(226, 40, 40);
  min-height: 800px;
}


/* .Santa includes the font family used for Christmasy Theme */

.Santa {
  font-family: 'Mountains of Christmas', serif;
  font-size: 80px;
  color: aliceblue;
  text-align: center;
}
/* Log-in form & Sign-up Styling */

.forms button {
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(226, 40, 40);
  color: white;
}
/* When cursor is over LogIn, the button is highlighted */
.Login button:hover {
  background-color: rgb(180, 238, 171);
}

.forms {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
}

.forms input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.forms p {
  text-align: center;
}

.forms p a:hover {
  color: rgb(205, 48, 48);
}

.Login {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

.signUp {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
}

/* Nav Bar Styling */
nav {
  display: flex;
  justify-content: center;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navbar li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}
.navbar li a:hover {
  color: black;
}
